parametersSchema:
    PhpstanFilament: structure([
        typeOwnerRecord: bool()
        typeRecordClosures: bool()
        typeStateClosures: bool()
        typeOperationLiterals: bool()
        typeActionData: bool()
        typeActionRecords: bool()
        typeMacroMethods: bool()
        typeIdeHelper: bool()
        filamentPath: arrayOf(string())
        ideHelperPath: string()
        checkClosureInjection: bool()
        checkReservedClosureInjection: bool()
        checkFieldPaths: int()
        checkRelationships: bool()
        checkRedundantEnum: bool()
        checkMissingContext: bool()
        autoInferContext: bool()
        # Extend
        closureInjectionMethods: arrayOf(arrayOf(string()))
    ])

parameters:
    bootstrapFiles:
        - src/Support/helpers.php
    PhpstanFilament:
        typeOwnerRecord: true
        typeRecordClosures: true
        typeStateClosures: true
        typeOperationLiterals: true
        typeActionData: true
        typeActionRecords: true
        typeMacroMethods: true
        typeIdeHelper: true
        filamentPath: []
        ideHelperPath: ''
        checkClosureInjection: true
        checkReservedClosureInjection: false
        checkFieldPaths: 1
        checkRelationships: true
        checkRedundantEnum: true
        checkMissingContext: true
        autoInferContext: false
        # Extend
        closureInjectionMethods: []

services:
    -
        class: ImSuperlative\PhpstanFilament\Support\ModelReflectionHelper
        arguments:
            reflectionProvider: @reflectionProvider

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\FieldPathResolver

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\FormComponentStateMap

    -
        class: PhpParser\NodeFinder

    -
        class: ImSuperlative\PhpstanFilament\Support\FileParser
        arguments:
            parser: @currentPhpVersionPhpParser

    -
        class: ImSuperlative\PhpstanFilament\Rules\ClosureInjection\VendorAstParser

    -
        class: ImSuperlative\PhpstanFilament\Rules\ClosureInjection\DiscoveredClassCache

    -
        class: ImSuperlative\PhpstanFilament\Rules\ClosureInjection\InjectionMapFactory
        arguments:
            userMethodAdditions: %PhpstanFilament.closureInjectionMethods%

    -
        class: ImSuperlative\PhpstanFilament\Rules\ClosureInjection\TypedInjectionMap
        factory: @ImSuperlative\PhpstanFilament\Rules\ClosureInjection\InjectionMapFactory::create()

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\FormOptionsNarrower

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\FormComponentTypeNarrower

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\FormComponentChainResolver

    -
        class: ImSuperlative\PhpstanFilament\Support\FilamentClassHelper

    -
        class: ImSuperlative\PhpstanFilament\Parser\TypeStringParser

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\PhpDocAnnotationParser

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\AttributeAnnotationParser

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\AnnotationReader

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\ResourceModelResolver

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\VirtualAnnotationProvider
        arguments:
            enabled: %PhpstanFilament.autoInferContext%
            warnOnVirtual: %PhpstanFilament.checkMissingContext%
            filamentPath: %PhpstanFilament.filamentPath%
            currentWorkingDirectory: %currentWorkingDirectory%
            analysedPaths: %analysedPaths%
            analysedPathsFromConfig: %analysedPathsFromConfig%

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\ComponentContextResolver

    -
        class: ImSuperlative\PhpstanFilament\Parser\FieldFluentMethodVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor

    -
        class: ImSuperlative\PhpstanFilament\Parser\StatePathPrefixVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor

    -
        class: ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\OperationLiteralHandler
        arguments:
            operationLiteral: %PhpstanFilament.typeOperationLiterals%

    -
        class: ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\RecordClosureHandler
        arguments:
            recordClosure: %PhpstanFilament.typeRecordClosures%

    -
        class: ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\ActionRecordsHandler
        arguments:
            actionRecords: %PhpstanFilament.typeActionRecords%

    -
        class: ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\ActionDataHandler
        arguments:
            actionData: %PhpstanFilament.typeActionData%

    -
        class: ImSuperlative\PhpstanFilament\Resolvers\StateTypeResolver
        arguments:
            makeFieldValidation: %PhpstanFilament.checkFieldPaths%

    -
        class: ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\StateClosureHandler
        arguments:
            stateClosure: %PhpstanFilament.typeStateClosures%

    -
        class: ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\LivewireClosureHandler

    -
        class: ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\FilamentClosureTypeExtension
        tags:
            - phpstan.methodParameterClosureTypeExtension
        arguments:
            handlers:
                - @ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\OperationLiteralHandler
                - @ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\RecordClosureHandler
                - @ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\ActionRecordsHandler
                - @ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\ActionDataHandler
                - @ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\StateClosureHandler
                - @ImSuperlative\PhpstanFilament\Extensions\ClosureTypeExtension\Handlers\LivewireClosureHandler

    -
        class: ImSuperlative\PhpstanFilament\Extensions\MacroMethods\MacroMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
            - phpstan.stubFilesExtension
        arguments:
            macroSupport: %PhpstanFilament.typeMacroMethods%

    -
        class: ImSuperlative\PhpstanFilament\Support\IdeHelperModelParser
        arguments:
            parser: @defaultAnalysisParser

    -
        class: ImSuperlative\PhpstanFilament\Support\IdeHelperRegistry
        arguments:
            enabled: %PhpstanFilament.typeIdeHelper%
            customPath: %PhpstanFilament.ideHelperPath%
            currentWorkingDirectory: %currentWorkingDirectory%

includes:
    - config/owner-record.neon
    - config/record-closure.neon
    - config/state-closure.neon
    - config/make-field-validation.neon
    - config/operation-literal.neon
    - config/relationship.neon
    - config/action-data.neon
    - config/action-records.neon
    - config/closure-injection.neon
    - config/redundant-enum.neon
    - config/macro.neon
    - config/ide-helper.neon
