includes:
    - extension.neon

parameters:
    level: 8
    paths:
        - src

    stubFiles!: []

    ignoreErrors:
        - '#Function project_root not found\.#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::analyse\(\)\.#'
