parameters:
    PhpstanFilament:
        filamentPaths:
            - tests/Fixtures

services:
    relationshipRuleFactory:
        implement: ImSuperlative\PhpstanFilament\Tests\Factories\RelationshipValidationRuleFactory
    aggregateFieldValidatorFactory:
        implement: ImSuperlative\PhpstanFilament\Tests\Factories\AggregateFieldValidatorFactory
    makeFieldValidationRuleFactory:
        implement: ImSuperlative\PhpstanFilament\Tests\Factories\MakeFieldValidationRuleFactory
    injectionMapFactoryFactory:
        implement: ImSuperlative\PhpstanFilament\Tests\Factories\InjectionMapFactoryFactory
    filamentProjectScannerFactory:
        implement: ImSuperlative\PhpstanFilament\Tests\Factories\FilamentProjectScannerFactory
        arguments:
            currentWorkingDirectory: %currentWorkingDirectory%
            analysedPathsFromConfig: %analysedPathsFromConfig%
