# Feature #9: Closure injection validation
# Enabled by: PhpstanFilament.checkClosureInjection (default: true)

services:
    -
        class: ImSuperlative\PhpstanFilament\Rules\ClosureInjection\ClosureInjectionRule
        tags:
            - phpstan.rules.rule
        arguments:
            closureInjection: %PhpstanFilament.checkClosureInjection%
            reservedClosureInjection: %PhpstanFilament.checkReservedClosureInjection%
