# Feature: make('field') validation (levels 0/1/2)
# Enabled by: PhpstanFilament.checkFieldPaths (default: 1)

services:
    -
        class: ImSuperlative\PhpstanFilament\FieldValidationLevel
        factory: ImSuperlative\PhpstanFilament\FieldValidationLevel::from(%PhpstanFilament.checkFieldPaths%)

    -
        class: ImSuperlative\PhpstanFilament\Rules\MakeFieldValidation\AggregateFieldValidator

    -
        class: ImSuperlative\PhpstanFilament\Rules\MakeFieldValidation\MakeFieldValidationRule
        tags:
            - phpstan.rules.rule
