# Missing @filament-page annotation detection
# Enabled by: PhpstanFilament.checkMissingContext (default: true)

services:
    -
        class: ImSuperlative\PhpstanFilament\Rules\MissingContextAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkMissingContext: %PhpstanFilament.checkMissingContext%