# Redundant ->enum() call detection
# Enabled by: PhpstanFilament.checkRedundantEnum (default: true)

services:
    -
        class: ImSuperlative\PhpstanFilament\Rules\RedundantEnumRule
        tags:
            - phpstan.rules.rule
        arguments:
            redundantEnum: %PhpstanFilament.checkRedundantEnum%
