# Feature #6: ->relationship() string validation
# Enabled by: PhpstanFilament.checkRelationships (default: true)

services:
    -
        class: ImSuperlative\PhpstanFilament\Rules\RelationshipValidationRule
        tags:
            - phpstan.rules.rule
        arguments:
            relationship: %PhpstanFilament.checkRelationships%
            modelReflectionHelper: @ImSuperlative\PhpstanFilament\Support\ModelReflectionHelper
